name: Build
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: omvdecoder-exe
        path: target/release/omvdecoder.exe

